@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-control{
    border-radius: 30px; 
}

.user_card {
    width: 480px;
    margin-top: 2%;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: black;
    margin-top: 8%;

}
.login_btnn {
    width: 100%;
    background: #f7ba5b !important;
    color: white !important;
    border-radius: 100px;
    margin-top: 5%;

}
.login_btnn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    text-align: center;
    padding: 0 2rem;
    margin-top: 5%;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.input-group-text i {
    font-size: 1.5rem;
}