@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #333;
    text-align: left;
}

.title-container {
    display: flex;
    flex-direction: column; /* Stack title and details vertically */
}

.details {
    margin-top: 10px; /* Add some spacing under the title */
    font-size: 1em; /* Adjust font size for better readability */
    color: #666; /* Subtle color for secondary information */
}

.description, .due-date {
    margin: 5px 0; /* Add space between description and due date */
    text-align: left;
}

.edit-section{
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border-radius: 10px; 
    background-color: rgba(247,187,91,0.4);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.top-section{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    margin-left: 16%;
}
.edit-btn{
    color: #f7ba5b;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit-btn:hover{
    color: black;
}

.delete-section{
    margin-left: 1%;
    margin-bottom: 2%;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border-radius: 10px; 
    background-color: rgba(91, 104, 247, 0.4);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.delete-btn{
    color: rgba(91, 104, 247, 1);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover{
    color: black;
}

.columns-container {
    gap: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;       
    padding: 30px;
    padding-bottom: 10px;
}

.column{
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    min-height: 650px;

}
.column[data-column="todo"]{
    background-color: #ffebeb;
    box-shadow: 0px 5px 15px 0px rgba(113, 50, 25, 0.35);
    }
.column[data-column="in-progress"]{
    background-color: #fff6e3;
    box-shadow: 0px 5px 15px 0px rgba(113, 101, 25, 0.35);

}
.column[data-column="done"]{
    background-color: #e9ffe7;
    box-shadow: 0px 5px 15px 0px rgba(65, 113, 25, 0.35);
}

.column-title {
    font-size: 1.1em;
    margin-bottom: 20px;    
    padding-bottom: 5px;
    font-weight: 500;   
}

.todo-title {
    margin-bottom:0;
    padding-bottom: 0;
}

.in-progress-title{
    border-bottom: 3px solid #F7BB5B;
}

.done-title{
    border-bottom: 3px solid #8BC48A;
}

.task-container {
    background-color: white;  
    padding: 15px;              
    margin-bottom: 15px;        
    border-radius: 15px;   
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    gap: 5px;      
}


.column-title-container {
    display: flex;
    justify-content: space-between; 
    align-items:center;
    padding-bottom: 5px;
    border-bottom: 3px solid #F7825B;
    margin-bottom: 20px;
}


.add-task-section {
    width: 30px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 4px solid #fccab9;   
    border-radius: 10px;   
    background-color: #fccab9;        
    transition: background-color 0.3s ease;
    margin-left: 10px;

}

.add-btn {
    font-size: 1.5em; 
    color: #F7825B; 
    cursor: pointer;
    transition: color 0.3s ease;
    align-items:center;

}

.add-task-section .add-btn:hover {
    color: black; 

}

.card-task-name{
    font-size: 17px;
    font-weight: 600;
}

.card-task-description{
    font-size: 15px;
    color: #666;
}

.card-task-duedate{
    font-size: 13px;
    font-style: italic;
    color: #494949;
}

.card-task-assign{
    font-size: 14px;
    color: #494949;
}

.edit-task-btn{
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ffe4b9;
    color: #ffb53d;
    background-color: #ffeed2;

}
.edit-task-btn:hover{
    text-decoration: none;
    color:black;
}

.delete-task-btn{
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgba(91, 104, 247, 0.1);
    color: rgb(63, 79, 245);
    background-color: rgba(91, 104, 247, 0.4);

}

.delete-task-btn:hover{
    text-decoration: none;
    color:black;
}