@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;  /* Arrange navbar and content vertically */
    min-height: 100vh;

}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #333;
}

.edit-section{
    margin-left: 2%;
    margin-bottom: 0.5%;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border-radius: 8px; 
    background-color: rgba(247,187,91,0.4);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.top-section{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    margin-left: 20%;
    margin-top: 2%;
}
.edit-btn i{
    margin-top: 20%;
    color: #f7ba5b;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit-btn i:hover{
    color: black;
}

.columns-container {
    gap: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    margin-top: 20px;     
}

.column{
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    min-height: 650px;

}
.column[data-column="todo"]{
    background-color: #ffebeb;
    }
.column[data-column="in-progress"]{
background-color: #fff6e3;
}
.column[data-column="done"]{
    background-color: #e9ffe7;
}

.column-title {
    font-size: 1.5em;
    margin-bottom: 20px;    /* Adds some space below the title */
    padding-bottom: 5px;    /* Adds a bit of padding below the title for spacing */  /* Adds a solid line under the title */
}

.todo-title {
    border-bottom: 3px solid #F7825B;  /* Yellow line */
}

.in-progress-title{
    border-bottom: 3px solid #F7BB5B;
}

.done-title{
    border-bottom: 3px solid #8BC48A;
}

.task-container {
    background-color: white;  /* Light background color for the task */
    padding: 10px;               /* Padding inside the task container */
    margin-bottom: 20px;         /* Space between tasks */
    border-radius: 10px;          /* Rounded corners */
}
/* Ensure the column container uses flex layout for title and button */
.column-title-container {
    justify-content: space-between; /* Ensure the button is pushed to the right */
}

/* Style for the add task button */
.add-task-section .add-btn {
    font-size: 1.5em; /* Adjust the icon size */
    color: #f7ba5b; /* Button color */
    cursor: pointer;
    transition: color 0.3s ease;
    
}

.add-task-section .add-btn:hover {
    color: black; /* Change color on hover */
}
