@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-control{
    border-radius: 30px; 
}

.user_card {
    width: 480px;
    margin-top: 2%;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: black;
    margin-top: 3%;

}
.login_btn {
    width: 100%;
    background: #f7ba5b !important;
    color: white !important;
    border-radius: 100px;

}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    text-align: center;
    padding: 0 2rem;
    margin-top: 20%;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white;
    border: 0 !important;
    border-radius: 0.90rem 0 0 0.90rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.form-check-input:checked{
    background-color: #f7ba5b;
    border-color: #f7ba5b;
}