{%extends 'base.html'%}
{%block content%}

<html>
    <body>
        <div id="create-project-page" class="container h-100">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="project-card">
                        <div class="title-container">
                            <div class="icon-container">
                                <i class="fas fa-lightbulb bulb"></i>
                            </div>
                            <h1 id="project-title">Create A<br> New Project!</h1>
                        </div>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="project-name">
                                <p>
                                    <label for="project_name">Name:</label>
                                    <input type="text" name="name" class="project-control" required>
                                </p>
                            </div>
                            <p>
                                <label for="project_desc">Description:</label>
                                <textarea name="description" class="project-control" required></textarea>
                            </p>
                            <p>
                                <label for="due_date">Due Date:</label>
                                <input class="timeBox" type="datetime-local" name="due_date" class="project-control" required>
                            </p>
                            <p>
                                <label for="team_members">Team Members:</label>
                                <select name="members" class="project-control members" multiple required>
                                    {% for teammate in available_teammates %}
                                        <option value="{{ teammate.id }}">{{ teammate.username }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <div class="parent-btn-container">
                                <div class="spacer"></div> 
                                <a href="{% url 'managerDash' %}" class="cancel-btn">Cancel</a>
                                <button class="btn create-btn" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{%endblock%}