{%extends 'base.html'%}
{%block content%}

{% comment %} Used for team member selection. {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<html>
    <body>
        <div id="create-task-page" class="container h-100">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="project-card">
                        <div class="title-container">
                            <div class="icon-container">
                                <i class="fas fa-tasks bulb"></i>
                            </div>
                            <h1 id="task-title">Create A New Task for<br> {{ project.p_name }}!</h1>
                        </div>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="project-name">
                                <p>
                                    <label for="task_name">Name:</label>
                                    <input type="text" name="name" class="project-control" required>
                                </p>
                            </div>
                            <p>
                                <label for="task_desc">Description:</label>
                                <textarea name="description" class="project-control" required></textarea>
                            </p>
                            <p>
                                <label for="due_date">Due Date:</label>
                                <input class="timeBox" type="datetime-local" name="due_date" class="project-control" required>
                            </p>
                            <p>
                                <label for="assignees">Assignees:</label>
                                <select name="assignees" class="project-control members select2-multiple" multiple required style="width: 100%;">
                                    {% for member in project_members %}
                                        <option value="{{ member.id }}">{{ member.username }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <div class="parent-btn-container">
                                <div class="spacer"></div> 
                                <a href="{% url 'project_detail' project.id %}" class="cancel-btn">Cancel</a>
                                <button class="btn create-btn" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('.select2-multiple').select2({
                    placeholder: "Select assignees",
                    allowClear: true // Allow clearing of selected members.
                });
            });
        </script>

    </body>
</html>

{%endblock%}