{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>{{ project.p_name }}</title>
</head>
<body>
    <section class="top-section">
        <div class="title-container">
            <h1 class="task-title">{{ project.p_name }}</h1>
            <div class="details">
                <p class="description">Description: {{ project.p_description }}</p>
                <p class="due-date">Due Date: {{ project.p_due_date }}</p>
            </div>
        </div>
        {% if user_type == 'manager' %}
        <div class="edit-section">
            <a href="{% url 'update_project' project.id %}" class="edit-btn">
                <i class="fa-solid fa-pen"></i>
            </a>
        </div>
        {% endif %}
    </section>
      
    <div class="columns-container">
        <div class="column" data-column="todo">
            <div class="column-title-container">
                <div class="column-title todo-title">To Do</div>
                {% if user_type == 'manager' %}
                <div class = "add-task-section">
                    <a href="{% url 'create_task' project.id %}" class="add-btn">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            {% endif %}
            </div> 
            {% for task in tasks %}
                <div class="task-container">
                    {{ task.t_name }} - {{ task.t_status }} 
                    (Due: {{ task.t_due_date }})
                    
                    {% if task.is_unassigned %}
                        <p>Assigned to: Unassigned</p>
                    {% else %}
                        <p>Assigned to: 
                            {% for assignee in task.t_assignees.all %}
                                {% if assignee == current_user %}
                                    You{% if not forloop.last %}, {% endif %}
                                {% else %}
                                    {{ assignee.username }}{% if not forloop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    
                    {% if user_type == 'manager' %}
                    <a href="{% url 'update_task' project.id task.id %}">Edit</a>
                    <a href="{% url 'delete_task' project.id task.id %}" class="delete-btn">Delete Task</a>
                    {% endif %}
                    
                    {% if user_type == 'teammate' and current_user in task.t_assignees.all %}
                    <form method="POST" action="{% url 'update_task_status' id=project.id t_id=task.id %}">
                        {% csrf_token %}
                        <select name="status">
                            {% for value, display in task.STATUS_CHOICES %}
                            <option value="{{ value }}" {% if task.t_status == value %}selected{% endif %}>
                                {{ display }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Update</button>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="column" data-column="in-progress">
            <div class="column-title in-progress-title">In Progress</div>
        </div>
        <div class="column" data-column="done">
            <div class="column-title done-title">Completed</div>
        </div>
    </div>
</body>
{% endblock %}