<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    {% if user_type == 'manager' %}
    <a href="{% url 'create_project' %}">Create New Project</a>
    {% endif %}
    
    <ul>
    {% for project in projects %}
        <li>
            <a href="{% url 'project_detail' project.id %}">{{ project.p_name }}</a>
            (Due: {{ project.p_due_date }})
            {% if user_type == 'manager' %}
            <a href="{% url 'update_project' project.id %}">Edit</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>